<div class="card-container name-tag">
  <h1
    class="name"
    #nameInput
    contentEditable
    spellcheck="false"
    (keydown)="blur($event, nameInput, 'name')"
    (blur)="onBlur(nameInput, 'name')"
  >
    {{ resume.name }}
  </h1>
  <p
    class="role"
    #roleInput
    contentEditable
    spellcheck="false"
    (keydown)="blur($event, roleInput, 'role')"
    (blur)="onBlur(roleInput, 'role')"
  >
    {{ resume.role }}
  </p>
  <span
    class="edit-icon no-print"
    (click)="focusChanger([nameInput, roleInput])"
  >
    <app-icon [iconName]="'edit'"></app-icon>
  </span>
</div>
