.social {
  .follow-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    .follow-links {
      display: flex;
    }
  }

  .follow-icon {
    color: #fff;
    background: var(--background-gradient-theme-color);
    border-radius: 5px;
    font-size: 1.8rem;
    vertical-align: middle;
    padding: 4px;
    transition: 0.3s;
    &:hover {
      color: var(--hover-color) !important;
      background: #fff;
      box-shadow: 0 0 3px 1px var(--hover-color);
    }
  }
  .print-link {
    display: none;
  }
}

@media print {
  .follow-links-container {
    justify-content: left !important;
  }
  .follow-icon {
    display: none;
  }
  .print-link {
    display: block !important;
    line-height: 1;
  }
}
