li {
  position: relative;
  vertical-align: middle;
  cursor: default;

  &:hover {
    color: #702a70;
    &:before {
      background-color: #702a70;
      box-shadow: 0 0 3px 1px #702a70;
      border-color: white;
    }
  }

  &::before {
    content: " ";
    transition: 0.3s;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: solid 4px #3d405b;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 6px;
  }
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    width: 0px;
    height: 42px;
    border: solid 2px #3d405b;
    margin-left: 12px;
    top: 16px;
  }
  .career-institution {
    font-weight: bold;
  }
  .career-period, .career-description {
    display: block;
    margin-left: 33px;
  }
}