.photo-container {
  background: var(--background-gradient-theme-color);
}

img {
  width: 100%;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #ddd;
  object-fit: contain;
}

.input-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  border: solid 1px var(--primary-text-color);
  background-color: var(--container-background);
  border-radius: 50%;
  &:hover {
    scale: 1.1;
    color: #ccc;
    background-color: var(--hover-color);
  }
}
