:host {
  .photo-container {
    background: var(--background-gradient-theme-color);
  }

  img {
    width: 100%;
    background: #ddd;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px #ddd;
    object-fit: contain;
  }
}
