.skill-name {
  display: inline-block;
  width: 120px;
}
.bar {
  display: inline-block;
  margin-right: 10px;
  width: calc(100% - 120px - 100px - 20px);
}
.level-name {
  display: inline-block;
  width: 90px;
}
.info {
  width: 20px;
}
