<div class="container">
  <div class="resume">    
    <!-- <div class="header no-print">
      <div class="content">
        <div class="card-container">
          <div class="menu">
            <button
              *ngFor="let resumeItem of resumeList"
              (click)="selectResume(resumeItem.id)"
              [ngClass]="{
                selected: resumeItem.id === resume.id ? true : false
              }"
            >
              <a routerLink="/resume/{{ resumeItem.id }}">
                {{ resumeItem.name }}
              </a>
            </button>
            <button>
              <span class="icon"
                ><app-icon [iconName]="'plus'"></app-icon
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="side">
      <div class="content">
        <app-sidebar [resume]="resume"></app-sidebar>
      </div>
    </div>
    <div class="main">
      <div class="content">
        <app-main-content [resume]="resume"></app-main-content>
      </div>
    </div>
    <div class="footer">
      <div class="content">
        <app-interests [resume]="resume"></app-interests>
      </div>
    </div>
  </div>
</div>
