.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  max-height: 200px;
  .print-button {
    margin-left: auto;
  }

  button {
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #666;
    transition: 0.3s;
    position: relative;

    &:hover {
      cursor: pointer;
      background: var(--background-gradient-theme-color);
      color: #fff;
      border: none;
    }
    &:active {
      position: relative;
      box-shadow: 0 0 0 0;
      top: 1px;
      background: var(--background-gradient-theme-color);
    }
    &.selected {
      box-shadow: 0 0 4px 1px var(--hover-color);
      &::before {
        content: " ";
        display: inline-block;
        position: absolute;
        left: calc(50% - 6px);
        bottom: 2px;
        width: 18px;
        height: 6px;
        background: var(--background-gradient-theme-color);
        border-radius: 10px;
      }
    }
  }
}

.side {
  grid-area: side;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "side main main"
    "side main main"
    "footer footer footer";
  gap: 10px;
  padding: 10px;
  max-width: 1024px;
  min-width: 300px;
}

@media (max-width: 680px) {
  .resume {
    display: block;
  }
}

@media (max-width: 400px) {
  .resume {
    padding: 0;
  }
  .content {
    padding: 0;
  }
}
