.bar,
.fill {
  border-radius: 10px;
}
.bar {
  min-height: 16px;
  background-color: #ccc;
}
.fill {
  background: linear-gradient(135deg, #702a70 0%, #280f28 100%);
  color: #fff;
  text-shadow: 1px 1px 1px #222;
  min-height: 16px;
  text-align: right;
  line-height: 1;
  font-size: 0.9rem;
  padding: 1px 3px;
}
