$background-gradient: linear-gradient(
  145deg,
  #000 15%,
  #57246b 75%,
  #923cb5 100%
);

$container-gradient: linear-gradient(135deg, #1d1d1d 0%, #2a2a2a 100%);

$hr-gradient: linear-gradient(145deg, #923cb5 15%, #57246b 75%, #000 100%);
