@import "variables";

@font-face {
  font-family: Ubuntu;
  src: url(assets/font/Ubuntu/Ubuntu-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin-bottom: 400px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #3d405b;
  font-family: Ubuntu;
  letter-spacing: 0.65px;
}

.inlineblock {
  display: inline-block;
}

.card-container {
  transition: 0.4s;
  background: #eee;
  padding: 20px;
  border: solid 1px #ccc;
  position: relative;
  .card-list-content {
    padding-left: 11px;
  }

  h2 {
    margin-bottom: 5px;
    .icon {
      transition: 0.6s;
    }
  }

  &:hover {
    box-shadow: 0 0 3px #666;
    z-index: 999;
    h2 {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}

hr {
  border: none;
  width: 100%;
  height: 3px;
  background: $hr-gradient;
  margin: 10px 0;
}

ul {
  list-style-type: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.content {
  padding: 15px;
  background: #ddd;
  height: 100%;
}

@media print {
  * {
    background: none !important;
    border-width: 0.5px !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  .content {
    padding: 5px;
  }
  .card-container {
    padding: 5px 15px !important;
  }

  .resume {
    width: 100% !important;
    padding: 2px !important;
    margin: 0 !important;
    gap: 0 !important;
  }
  .fill {
    border: solid 0.5px #666 !important;
  }

  @page {
    margin: 2px;
  }
}
