@import "variables";

@font-face {
  font-family: Ubuntu;
  src: url(assets/font/Ubuntu/Ubuntu-Regular.ttf);
}

* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background: $background-gradient;
  color: #ccc;
  font-family: Ubuntu;
  letter-spacing: 0.65px;
}

hr {
  border: none;
  width: 100%;
  height: 5px;
  background: $hr-gradient;
  margin: 15px 0;
}

ul {
  list-style-type: none;
}

.icon {
  display: inline-block;
  width: auto;
}
