.header {
  grid-area: header;
}
.side {
  grid-area: side;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "side main main"
    "side main main"
    "footer footer footer";
  gap: 10px;
  padding: 10px;
  width: 1024px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  max-height: 200px;
  .print-button {
    margin-left: auto;
  }
  
  button {
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #666;
    transition: 0.3s;
    position: relative;
    &:hover {
      cursor: pointer;
      background: linear-gradient(135deg, #702a70 0%, #280f28 100%);
      color: #fff;
      border: none;
    }
    &:active {
      position: relative;
      box-shadow: 0 0 0 0;
      top: 1px;
      background: linear-gradient(135deg, #953895 0%, #582158 100%);
    }
    &.selected {
      &::before {
        content: " ";
        display: inline-block;
        position: absolute;
        left: calc(50% - 6px);
        bottom: -12px;
        width: 12px;
        height: 6px;
        background: linear-gradient(135deg, #953895 0%, #582158 100%);
        border-radius: 10px;
      }
    }
  }
}
