<div class="experiences">
  <div class="card-container" *ngFor="let experiences of resume.experiences">
    <app-card-header
      [iconName]="experiences.icon"
      [title]="experiences.title"
    ></app-card-header>
    <div class="card-list-content">
      <ul *ngFor="let history of experiences.history">
        <li>
          <span class="career-institution">{{ history.institution }}</span>
          <span class="career-description">{{ history.description }}</span>
          <span class="career-period">{{ history.period }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
